*.iml
*.apk
*.aab
*.jks
*.keystore
.gradle
/local.properties
/.idea/
!/.idea/codeStyles/
!/.idea/inspectionProfiles/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/release
/tmp

/.claude
CLAUDE.local.md
